asgiref==3.8.1
Django==5.1.6
gunicorn==23.0.0
packaging==24.2
sqlparse==0.5.3
whitenoise==6.9.0
attrs
awsebcli
bcrypt
blessed
botocore
black
cached-property
cement
certifi
cffi
chardet
charset-normalizer
colorama
coverage
coveralls
cryptography
docker
docker-compose
dockerpty
docopt
docutils
flake8
future
git-remote-codecommit
idna
jmespath
jsonschema
paramiko
pathspec
pycparser
PyNaCl
pyrsistent
python-dateutil
pytz
PyYAML
requests
semantic-version
six
termcolor
texttable
urllib3
wcwidth
websocket-client
